prop/AbstractReader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/AbstractReader/"
	targetNamespace="http://www.example.org/AbstractReader/">
	<!-- Root element -->
	<element name="ReaderParam">
		<complexType>
			<sequence>
				<element ref="tns:SleepTimeOut"></element>
				<element ref="tns:ConnectTimeOut"></element>
				<element ref="tns:RetryTimeOut"></element>
				<element ref="tns:TC_SEPARATE_SIGN"></element>
				<element ref="tns:REVERSE_GEOCODING_FLAG"></element>
				<element ref="tns:State"></element>
				<element ref="tns:City"></element>
			</sequence>
		</complexType>
	</element>

	<!-- Param Element -->
	<element name="MapURL" type="anyURI"></element>
	<element name="SleepTimeOut" type="integer"></element>
	<element name="ConnectTimeOut" type="integer"></element>
	<element name="RetryTimeOut" type="integer"></element>
	<element name="TC_SEPARATE_SIGN" type="string"></element>
	<element name="REVERSE_GEOCODING_FLAG" type="boolean"></element>
	<element name="City" type="string"></element>
	<element name="State" type="string"></element>
	<element name="DataURL" type="anyURI"></element>
	
	<element name="CitySet">
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element ref="tns:City"></element>
			</sequence>
		</complexType>
	</element>
	<element name="States">
		<complexType>
			<sequence minOccurs="1">
				<element ref="tns:State"></element>
			</sequence>
		</complexType>
	</element>

	<complexType name="ProcessType">
		<sequence>
			<element name="filepath" type="anyURI"></element>
			<element name="patternlist">
				<simpleType>
					<list itemType="string"></list>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	
	<element name="Extractor" type="tns:ProcessType"></element>
	<element name="Formatter" type="tns:ProcessType"></element>
	<element name="Refiner" type="tns:ProcessType"></element>
	<element name="Requester" type="tns:RequestType"></element>


	<complexType name="RequestType">
		<sequence minOccurs="1" maxOccurs="1">
			<element name="DataURLList">
				<complexType>
					<sequence>
						<element name="DataURL">
                              <complexType></complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	
	<element name="Processor">
		<complexType>
			<all>
			    <element ref="tns:Requester"></element>
				<element ref="tns:Extractor"></element>
				<element ref="tns:Formatter"></element>
				<element ref="tns:Refiner"></element>
			</all>
		</complexType>
	</element>

</schema>